body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
.bgnavegador{
    background-color: $color-principal;
    color:white;
}
#footer{
    background-color: $color-principal;
    color:white;
}
@mixin anchoMaximo($maxwidth){
    max-width: $maxwidth;
}
.logo{
    @include anchoMaximo(30%);
    img{
        @include anchoMaximo(100%);
    }
}
.subtitulo{
    background: $color-secundario;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    @media all and (min-width:576px) and (max-width:768px){
        font-size: 1.5rem;
    }
    @media all and (min-width:768px){
        font-size:2rem;
    }
}
.seccioncategorias{
    .categoriaindex{
        transition: all 250ms;
        margin-bottom: 15px;
        &:hover{
            transform: scale(1.1);
        }
        p{
            font-weight: 700;
        }
        @media all and (max-width:576px){
            font-size: 0.8rem;
            @include anchoMaximo(45%)
        }
        @media all and (min-width:576px) and (max-width:768px){
            font-size: 1rem;
            @include anchoMaximo(45%)
        }
        @media all and (min-width:768px){
            font-size:1.2rem;
            @include anchoMaximo(30%)
        }
    }
}

.imagen_historia{
    @include anchoMaximo(50%);
    border: 3px solid gray;
    border-radius: 10px;
    margin:10px 0;
}
.mapa{
    padding: 10px;
    iframe{
        width: 100%;
    }
}
%boton{
    background-color: $color-principal;
    color:$color-texto-principal;
    transition: all 250ms;
}
.botoncotizaciones{
    @extend %boton;
    &:hover{
        transform: scale(1.3);
        background-color: $color-secundario;
        color: $color-texto-secundario;
    }
}
.palabraEnlace{
    color:$color-principal;
    transition: all 250ms;
    &:hover{
        transform: scale(1.1);
        color:$color-secundario;
    }
}
.tabladespacho{
    @media all and (max-width:576px){
            font-size: 0.6rem;
            @include anchoMaximo(100%)
        }
}
.galeria-categorias{
    h3{
        font-weight: 700;
    }
    .elemento-categoria{
        transition: all 250ms;
        @media all and (max-width:576px){
            font-size: 0.8rem;
            @include anchoMaximo(45%)
        }
        @media all and (min-width:576px) and (max-width:768px){
            font-size: 0.9rem;
            @include anchoMaximo(30%)
        }
        @media all and (min-width:768px){
            @include anchoMaximo(24%)
        }
        .card-title{
            font-weight: 500;
        }
        .card-text{
            font-style: italic;
            span{
            font-weight: bold;
            }
        }
        &:hover{
            transform: scale(1.2);
        }        
    }
}